*{
    margin: 0;
    padding: 0;
  font-family: "Poppins", sans-serif;
}
.main_box{
    background: url("photo.jpg");
    height:100vh ;
}
.btn_one i{
    color:aliceblue ;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
}
.sidebar_menu{
    position:fixed ;
    left:-300px ;
    height:100vh ;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1) ;
    box-shadow :0 0 6px rgba(255, 255, 255, 0.7) ;
    transition: all 0.3s linear;
}
.sidebar_menu .logo{
    width: 100%;
    line-height: 60px;
    box-shadow :0 1px 4px rgba(255, 255, 255, 0.7) ;
    height: 60px;
}
.sidebar_menu .logo a{
    position: absolute;
    left: 50px ;
    color: aliceblue;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
}
.sidebar_menu .btn_two i{
    top: 2px;
    color : grey ;
    line-height: 60px;
    font-size: 25px;
    position: absolute;
    left:265px ;
    /* opacity: 0; */
    cursor: pointer;
}
.sidebar_menu .menu {
    position: absolute;
    width: 100%;
    color : white ;
    top: 80px;
}
.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 20px 14px ;
}
.sidebar_menu .menu i,a {
    text-decoration: none ;
    font-size: 20px;
    color : white ;
}
.sidebar_menu .menu i{
    padding-right: 15px;
}
.sidebar_menu .social_media{
    position: absolute;
    left: 25%;
    bottom: 40px;
    
}
.sidebar_menu .social_media i{
    padding-right: 20px;
    color:white ;
    opacity: 0.7;
}
#check{
    display : none ;
}
.sidebar_menu .menu li:hover{
    box-shadow :0 0 4px rgba(255, 255, 255, 0.7) ;
}
.btn_one i:hover{
    font-size: 40px;
    cursor: pointer;
}
.btn_two i:hover{
    font-size: 30px;
}

.sidebar_menu .social_media i:hover{
    font-size: 30px ;
    opacity: 1;
}
#check:checked ~ .sidebar_menu{
    left:0 ;
}
#check:checked ~ .btn_one i{
    opacity: 0;
}
#check:checked ~ .sidebar_menu .btn_two i{
    opacity: 1;
}
